<p id="notice"><%= notice %></p>

<h1>Companies</h1>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>

    <tr></tr>
      <tr></tr>
      <tr>
        <td><%= profile.company %></td>
        <td><%= profile.city %></td>
        <td><%= profile.state %></td>
        <td><%= link_to 'Show', profile %>
        <%= link_to 'Edit', edit_profile_path(profile) %>
        <%= link_to 'Delete', profile_path(id: profile.id), method: :delete, data: { confirm: 'Are you sure' } %>
        <%= link_to 'Products', profile_products_path(:profile_id => profile.id) %>
        <%= link_to 'New Contact', new_profile_indi_path(:profile_id => profile.id) %>
        </td>
        <td></td>
        <td></td>
        <td></td>

        <% profile.indis.each do | indi | %>
          <% s = indi.firstname.to_s + ' ' + indi.middle.to_s + ' ' + indi.lastname.to_s + ' ' + indi.contact_suffix.to_s %>
          <tr>
            <td>&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspContact:</td>
            <td><%= s %></td>
            <td><%= %></td>
            <td><%= indi.jobtitle %></td>
            <td><%= indi.contact_email %></td>
            <td><%= link_to 'Show', indi %></td>
            <td><%= link_to 'Edit', edit_profile_indi_path(:id => indi.id, :profile_id => profile.id) %></td>
            <td><%= link_to 'Delete',  { controller: "indis", action: "destroy", id: indi.id },
                              method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
      <% end %>


    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_profile_path %>

<br>
<br>
<br>

<li >
  <%= link_to 'Back', 'tasks/search'%>
</li>

