<%= form_with( model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this indi from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :profile_id, {  :value => params[:profile_id]} %>
  </div>

  <div class="field">
    <%= form.label :resin %>
    <%= form.collection_select(:internal_code, Resin.select(:product_code),
                               :product_code, :product_code)  %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <% somevalue = params[:profile_id] %>
  <% puts(somevalue) %>

  <div class="field">
    <%= form.label "Person in Charge" %>
    <%= form.collection_select(:pic, Indi.select(:lastname).where("profile_id = ?", somevalue),
                               :lastname, :lastname)  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>