<p id="notice"><%= notice %></p>

<% puts(params[:profile_id])%>
<% companyRecord = Profile.find( params[:profile_id])%>

<h1>Products for <%= companyRecord.company %></h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Detail</th>
      <th>Person In Charge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.internal_code %></td>
        <td><%= product.detail %></td>
        <td><%= product.pic %></td>
        <td><%= link_to 'Show', profile_product_path(:id => product.id, :profile_id => params[:profile_id]) %></td>
        <td><%= link_to 'Edit', edit_profile_product_path(:id => product.id, :profile_id => params[:profile_id]) %></td>
        <td><%= link_to 'Delete',  { controller: "products", action: "destroy", id: product.id },
                        method: :delete, data: { confirm: "Are you sure?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_profile_product_path(:profile_id => params[:profile_id]) %>
<%= link_to "Back",   {controller: "profiles", action: "index", :company => $last_company_search, :state=> $last_state_search} %>